# General IDEs and Editors
.idea/
.project
.classpath
.settings/
.factorypath
.c9/
*.launch
*.sublime-workspace
.history/*

# macOS and System Files
.DS_Store
Thumbs.db

# Node.js Dependencies
/node_modules/
npm-debug.log
yarn-error.log
yarn-debug.* 

# Compiled Output
/dist
/tmp
/out-tsc
/bazel-out
/.angular/cache
.sass-cache/
/coverage
testem.log
/libpeerconnection.log

# Expo Specific
.expo/
dist/
web-build/
.metro-health-check*

# Native Files
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Local Environment Files
.env*.local
IndeksFrontEnd/.env

# Java Specific
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Miscellaneous
/connect.lock
/typings
