<div class="form-container">
  <mat-card class="form-card" appearance="outlined">
    <mat-card-header class="form-header">
      <mat-card-title class="title">Dodavanje predmeta</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="subjectForm">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Naziv predmeta</mat-label>
          <input
            matInput
            formControlName="name"
            placeholder="Unesite naziv predmeta"
          />
          <mat-icon matSuffix>book</mat-icon>
          @if(subjectForm.get('name')?.hasError('required') &&
          subjectForm.get('name')?.touched) {
          <mat-error>Naziv predmeta je obavezan</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Godina</mat-label>
          <input
            matInput
            type="number"
            formControlName="year"
            placeholder="Unesite godinu"
          />
          <mat-icon matSuffix>calendar_today</mat-icon>
          @if(subjectForm.get('year')?.hasError('required') &&
          subjectForm.get('year')?.touched) {
          <mat-error>Godina je obavezna</mat-error>
          }
        </mat-form-field>

        @if(conflict) {
        <div class="error">
          <mat-icon class="error-icon">error_outline</mat-icon>
          Predmet sa ovim nazivom i godinom već postoji!
        </div>
        }

        <div class="button-container">
          <button
            mat-stroked-button
            class="cancel-button"
            (click)="navigateBack()"
            [disabled]="isLoading"
          >
            Odustani
          </button>
          <button
            mat-raised-button
            class="save-button"
            (click)="submitForm()"
            [disabled]="subjectForm.invalid || isLoading"
          >
            @if(isLoading) {
            <mat-spinner
              diameter="20"
              color="accent"
              class="button-spinner"
            ></mat-spinner>
            } @else { Sačuvaj }
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
