<div class="dialog-container">
  <div class="dialog-header">
    <h2 mat-dialog-title class="dialog-title">Brisanje {{ data.name }}</h2>
  </div>

  <div mat-dialog-content class="dialog-content">
    <div class="content-wrapper">
      <mat-icon class="warning-icon">warning</mat-icon>
      <p>Da li ste sigurni da želite da obrišete {{ data.name }}?</p>
    </div>
  </div>

  <div mat-dialog-actions class="dialog-actions">
    <button mat-stroked-button class="cancel-button" [mat-dialog-close]="false">
      Odustani
    </button>
    <button
      mat-raised-button
      class="delete-button"
      [mat-dialog-close]="true"
      cdkFocusInitial
    >
      Obriši
    </button>
  </div>
</div>
