<div class="admin-main">
  <app-header (toggleSidebar)="sidenav.toggle()"> </app-header>
  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a
          mat-list-item
          routerLink="elementary-groups"
          (click)="sidenav.toggle()"
          >Osnovne grupe</a
        >
        <a
          mat-list-item
          routerLink="subject-page"
          (click)="sidenav.toggle()"
        >Predmeti</a
        >
        <a
          mat-list-item
          routerLink="materials-page"
          (click)="sidenav.toggle()"
        >Materijali</a
        >
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content><router-outlet /></mat-sidenav-content>
  </mat-sidenav-container>
</div>
